<div class="form-group">
    <p style="font-size:22px; color:#0E1E02;margin-left: 40px">
        <%= label_tag "Name This Room" %>
        <%= collection_select :room, :name, Room.all, :id, :name, prompt: true %>
    </p>
</div>

<div class="form-group">
    <p style="font-size:22px; color:#0E1E02;margin-left: 40px">
        <%= label_tag "Room Description" %>
        <%= text_field_tag :description %>
    </p>
</div>

<p style="font-size:22px; color:#0E1E02;margin-left: 40px">
    <%= submit_tag %>
</p>

